body{        
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;   
    overflow-x: hidden;
    
}

.fullScreen{
    width: 100%;
    height: 100%;
}

.overlay{
    background-color: rgba(0,0,0,0.55);
    padding-top: 22vh;  
}


.black-text{
    color: #000;
}

.white-text{
    color: white;
}

.round-edge{
    border-radius: 15px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.mock-left{
    float:left;
}
.mock-right{
    float: right;
}

.navbar{
    position: fixed;
    height: auto;
    width: 100%;
    padding: 10px;                
    z-index: 3;    
}

.social-icon{
    float: right;
    margin: 5px;
}

.social-icon:hover{
    opacity: 0.75;
    cursor: pointer;
}

.header{ 
    background: url("../img/profile-bg.jpg") fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}

.head-text{
    display: none;
}


.logo{             
    width: 90%;
    height: 70%;    
}

.about{ 
    background-color:rgb(211, 211, 211);            
    padding-bottom: 2vh;
    overflow: hidden;
    height: auto;
    width: 100%;   
    
}

.about-boxes{
    background-color: rgba(255,255,255,0.55);    
    padding:15px;    
    /*margin-left:2.5%;
    width:30%;*/
    margin: 5%;
    width: 90%;
    height: auto;
    margin-top: 10px;
}
.icons{
    margin: 20px;
}
.expIcons{    
    display: inline-block;    
    font-size: 38px;
    
}


.progressBar{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #eeeeee;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px #222;
    border-radius: 5px;
}

.lang{
    position: absolute;
    width: 60px;
    height: 20px;
    padding-left: 2px;
    float: left;
    font-weight: bold;
    color: white;
    line-height: 20px;
    z-index: 1000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 2px 0 2px #333;
    text-shadow: 1px 1px 1px black;
    font-size: 12px;
}

.progress_val{
    position: relative;
    float: right;
    padding-right: 5px;
    line-height: 20px;
    font-weight: bold;
    color: #000;
    z-index: 1000;
    
}

.progress{
    height: 20px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 2px 0 2px #555;
}
.htmlColor{
    background-color: rgb(192, 24, 24);
}
.html{
    background-color: rgb(212, 49, 49);
}
.cssColor{
    background-color: rgb(24, 91, 192);
}
.css{
    background-color: rgb(60, 114, 196);
}
.jsColor{
    background-color: rgb(62, 197, 21);
}
.js{
    background-color: rgb(110, 209, 80);
}
.phpColor{
    background-color: rgb(207, 121, 23);
}
.php{
    background-color: rgb(206, 140, 70);
}
.pyColor{
    background-color: rgb(202, 13, 202);
}
.python{
    background-color: rgb(201, 74, 201);
}
.javaColor{
    background-color: rgb(2, 229, 236);
}
.java{
    background-color: rgb(84, 240, 243);
}

.hex{
    /*width:50%;
    height: 50%;*/
    width: 100px;
    height: 100px;
}

i{
    float: right;
    margin: 5px;
    color:white;
}

.skill-icons{
    float: left;
    margin: 5px;
    color: rgb(13, 0, 36);
}

h2{
    font-size: 66px;
    padding: 10px;
}

h3{
    font-size: 200%;
    margin-bottom: 10px;
}

.para { 
    font-size: 18px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%; 
    padding-bottom: 10px;
}
.strong{
    font-weight: bold;
    display: inline;
}

.left-arrow, .right-arrow{
    width: 100px;
    height: 100px;
    font-size:44px;
    background-color: rgba(211, 211, 211, 0.35);
    border: none;    
    margin-top: 30vh;
    border-radius: 100%;
    z-index: 1000;
}
.left-arrow:hover, .right-arrow:hover{
    background-color: rgba(211, 211, 211, 0.75);
}
.nav-cube{
    float: left;
}
.nav-cube:hover, .link:hover{    
    opacity:0.55;    
    cursor: pointer;
    image-orientation: 90deg;    
}
.aboutnav, .portnav, .contactnav{
    /*display: inline-block;*/
    margin-left: 10px;
    margin-top: 15px; 
    float: left;
}
.aboutnav:hover, .portnav:hover, .contactnav:hover{
    cursor: pointer;
    opacity: 0.55;    
}

a{
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}

.folio{
    padding-top: 10vh;
    background-color: rgb(20, 206, 209); 
    overflow: hidden;      
}
#folio-title{
    display: none;
}

.contact{
    background-color:rgb(211, 211, 211);    
    height: auto;
    width:100%;    
    /*padding-top: 2vh;*/
}
form{
    margin-bottom: 20px;
}
.text{
    font-size: 24px; 
    margin: 20px;   
}

.circle{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: white;
    margin: 20px;
    display: inline-block;
    padding: 20px;  
      
}

.circle:hover{
    opacity: 0.55;
}

/*
 * Contact form stuff
 */

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(147, 173, 185);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgb(164, 195, 209);
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
} 


/* Mockup stuff */

.mock2{
    max-width:70%;
    max-height:70%;
    min-width: 240px;
    min-height: 150px;
    width: auto;
    height: auto;
}

.mock-display{
    overflow: hidden;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #eee;
    height: auto;
    width: auto;
}

.text-box{
    padding-top: 50px;
    height: auto;
    width: 300px;
}
.view-button{
    
    color: white;
    text-align: center;
    background-color: rgb(147, 173, 185); 
}
.view-button:hover{
    opacity: 0.7;
}
.only-floated{
    overflow: hidden;
}
.bullet{
    font-size: 18px;
    
    display: inline;
    color: rgb(147, 173, 185);
}

.quote{
    font-size: 24px;
    font-style: italic;
}

hr{
    margin-left: 5vw;
    margin-right: 5vw;
    border-color: rgb(196, 196, 196);
}

@media screen and (max-width: 900px){
    .mock-right, .mock-left{
        float: none;
        
    }

    .mock2{
        max-width:100%;
        max-height: 100%;
        text-align: center;

    }

    .text-box{
        width: 100%;
        padding-top: 25px;
    }
}

@media screen and (max-width: 700px){

    /* * *    * * *
     * Cube Stuff *
     * * *    * * */

     .wrap {
        perspective: 400px;
        perspective-origin: 50% 50px;        
    }
    .cube {
        position: relative;
        width: 100px;
        transform-style: preserve-3d;
        margin: auto;
    }

    .cube div {
        position: absolute;
        width: 100px;
        height: 100px;
    }

    .backy {
        transform: translateZ(-50px) rotateY(180deg);
        border: 2px solid white;
    }
    .righty {
        transform: rotateY(-270deg) translateX(50px);
        transform-origin: top right;
        border: 2px solid white;
    }
    .lefty {
        transform: rotateY(270deg) translateX(-50px);
        transform-origin: center left;
        border: 2px solid white;
    }
    .topy {
        transform: rotateX(-90deg) translateY(-50px);
        transform-origin: top center;
        border: 2px solid white;
    }
    .bottomy {
        transform: rotateX(90deg) translateY(50px);
        transform-origin: bottom center;
        border: 2px solid white;
    }
    .fronty {
        transform: translateZ(50px);
        border: 2px solid white;
    }

    @keyframes spin {
        from { transform: rotateY(0); }
        to { transform: rotateY(360deg); }
    }
    
    .cube {
        animation: spin 5s infinite linear;
    }
    /* End Cube stuff */

    .hello{        
        position: relative;
        top: 140px;
        font-size: 36px;
    }

    .fullScreen{
        width: 100%;
        height: 25%;     
    }

    .header{
        background-size: 100% 100%;  
        height: 100vh;      
    }

    .head-text{
        display: block;
        color: white;
        padding: 0%;
    }

    .logo{
        display: none;
    }
    

    .navbar{
        display: none;
    }

    .overlay{        
        height: 100%
    }

    h2{
        font-size: 44px;                               
    }

    h3{
        font-size: 24px;
    }

    .para{
        font-size: 12px;
    }
    

    .about{
        height: auto;
        overflow: auto;
        cursor: pointer;        
        background-color:rgb(211, 211, 211); 
        /*border-bottom: 1px solid black; 
        box-shadow: 0px 3px 3px #888888 inset;*/
        padding-bottom: 0;
                
    }

    .about-boxes{
        text-align: center;   
    }

   .folio{
       height: auto;
       padding-top: 0;                    
       cursor: pointer;      
       /*border-bottom: 1px solid black;*/

   }
   #folio-title{
       display: block;
       text-align: center;
       color: #000;
       height: 100%;
       /*background-color:rgb(211, 211, 211); 
       box-shadow: 0px 3px 3px #888888 inset;*/
                 
   }
   .l-arrow, .r-arrow{              
       font-size: 44px;
       padding-top: 8px;             
   }
   .l-arrow{
       padding-left: 8%;
   }
   .r-arrow{
       padding-right: 8%;
   }

   .left-arrow, .right-arrow{
       display: none;
   }
   

   .contact{
       height: auto;
       cursor: pointer;              
       background-color:rgb(211, 211, 211);
       /*border-bottom: 1px solid black; 
       box-shadow: 0px 3px 3px #888888 inset;*/
   }
   
}

